body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    margin: 5px;
}

button#addItemBtn {
    background-color: #5cb85c;
}

button#addItemBtn:hover {
    background-color: #4cae4c;
}

button#updateItemBtn {
    background-color: #0275d8;
}

button#updateItemBtn:hover {
    background-color: #025aa5;
}

button#removeItemBtn {
    background-color: #d9534f;
}

button#removeItemBtn:hover {
    background-color: #c9302c;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

li:hover {
    background-color: #f9f9f9;
}

li.selected {
    background-color: #d9edf7;
}

